.ParentBox {
  widht: 100%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
  margin: 100px;
}

.Foto {
  float: left;
  width: 50%;
  height: 650px;
  background: #e3e9ee;
}

.Foto img {
  width: 100%;
}

.Deskripsi {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 50px;
}

.Deskripsi .Cate {
  font-size: 16px;
  font-weight: 600;
  color: #999aa4;
}

.Deskripsi .Title {
  font-size: 42px;
  font-weight: bold;
  color: #34364a;
  margin-bottom: 16px;
}

.Deskripsi .Price {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #34364a;
  margin-bottom: 10px;
}

.Deskripsi .Info {
  font-size: 16px;
  color: #999aa4;
}

.Deskripsi .button-cta {
  font-weight: 600;
  color: #34364a;
  text-decoration: none;
  background-color: #e3e9ee;
  padding: 16px 35px;
  border: none;
  border-radius: 5px;
}

.Deskripsi .button-cta:hover {
  background-color: #34364a;
  color: #e3e9ee;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .ParentBox {
    widht: 100%;
    overflow: hidden;
    margin: auto;
    margin: 20px;
  }
}
